{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src"
        }
      }
    ],
    "transform-flow-strip-types"
  ],
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "babel-preset-react",
    "stage-1",
    "stage-0"
  ]
}
